* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    min-height: 100vh;   
    background: rgb(0, 0, 22);
}

.btn {
    padding: 20px 35px;   
    border: 1px white solid;
    background: black;
    color: white;
    font-size: 35px;
    cursor: pointer;
    transition: 1s;   
}

.btn:hover {
    padding: 25px 40px;
    font-size: 40px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

#brotamento {
    margin-top: 100px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; 
    flex-flow: row wrap;
    overflow-y: hidden;
}

#brotamento.hide img {
    animation: fadeOut ease-in 1s forwards;
    opacity: 1;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        scale: 1;
    } 
    to {
        opacity: 0;
        scale: 0.8;
    }
}

#brotamento img {
    max-height: 300px;
    max-width: 300px;
    margin: 0 20px;
    opacity: 0;
    animation: fadeIn forwards 1.5s ease-out;
}

#brotamento img:nth-child(1) {
    animation-delay: 0;
}
#brotamento img:nth-child(2) {
    animation-delay: 0.5s;
}
#brotamento img:nth-child(3) {
    animation-delay: 1s;
}

@keyframes fadeIn {
    from {
        scale: 0.8;
        opacity: 0;
        transform: translateY(300px);
    }
    to {
        scale: 1;
        opacity: 1;
        transform: translateY(0);
    }
}