* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: var(--bg-dark);
}

.main {
    padding: 50px 10px;
    background: var(--bg);
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 10%;
}

.command {
    width: 100%;
    padding: 10px 30px;
    background: var(--bg-light);
    border: 1px solid var(--border);
    margin: 5px 0;
    border-radius: 100px;
    color: var(--text);
    font-size: 30px;
    cursor: pointer;
}

.warning {
    position: fixed;
    width: 100%;
    height: 100%;
    color: var(--text);
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 2;
    background: rgba(0,0,0,0.3);
    display: none;
    opacity: 0;
    transition: 0.2s;
}

.warning.active {
    display: flex;
    opacity: 1;
}