@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    color-scheme: light dark;
    --light-background: #ccc;
    --dark-background: #000;
    --light-card: #fff;
    --dark-card: #111;
    --light-placholder: #aaa;
    --dark-placeholder: #333;
}

body {
    width: 100%;
    margin: 0;
    background: var(--light-background);
    position: relative;
}

* {
    font-family: "Roboto", sans-serif;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px  0;
}

.main-header button {
    background: transparent;
    border: none;
    cursor: pointer;
}

#search-inpt {
    width: 50%;
    height: 30px;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    position: relative;
}

.main-header .icon {
    -webkit-mask: url('imgs/search.svg') no-repeat center;
     mask: url('imgs/search.svg') no-repeat center;
     background-color: black;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    flex-flow: row wrap;
}

.loader.disabled {
    display: none !important;
}

.card {
    width: 200px;
    background-color: var(--light-card);
    height: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-flow: column nowrap;  
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px;
    transition: 0.1s ease-in-out;
}

.card:hover {
    z-index: 2;
    scale: 1.01;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.background {
    width: 95%;
    height: 70px;
    margin-top: 10px;
    position: relative;
    border-radius: 3px;
    background: rgb(0,71,171);
    background: linear-gradient(159deg, rgba(0,71,171,1) 0%, rgba(28,169,201,1) 100%);
}

.loading {
    position: relative;
    overflow: hidden;
}

.picture {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    bottom: 10px;
    transform: translate(-50%, 50%);
    left: 50%;
}

.name {
    width: 95%;
    height: 38px;
    text-align: center;
}

.stats {
    width: 95%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.stats-item {
    width: 45%;
    height: 30px;
    border-radius: 30px;
    border: solid 1px gray;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 2px;
    justify-content: center;
}

.card.placeholder .place-color * {
    color: transparent;
}

.card.placeholder .place-color {
    background: var(--light-placholder) !important;
    border: none !important;
    color: transparent;
}

.card.placeholder .background {
    background: var(--light-placholder) !important;
}

.card.placeholder .name {
    color: transparent;
    height: 25px;
    margin-top: 25px;
    width: 80%;
    background: var(--light-placholder);
}

.card.placeholder .loading:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 1.2s linear infinite;
}

.pager {
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pager p {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pager * {
    width: 100px;
    margin: 0 4px;
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.pager *:hover {
    scale: 1.1;
}

/* From Uiverse.io by SalladShooter */ 
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80px;
}

.circle {
  background: rgba(50, 120, 180, 1);
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  animation: figureEight 1.5s linear infinite;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
  width: 12px;
  height: 12px;
  background: rgba(50, 120, 180, 0.5);
}

.circle:nth-child(3) {
  animation-delay: 0.2s;
  width: 10px;
  height: 10px;
  background: rgba(50, 120, 180, 0.35);
}

.circle:nth-child(4) {
  animation-delay: 0.3s;
  width: 10px;
  height: 10px;
  background: rgba(50, 120, 180, 0.15);
}

.circle:nth-child(5) {
  animation-delay: 0.4s;
  width: 10px;
  height: 10px;
  background: rgba(50, 120, 180, 0.15);
}

.circle:nth-child(6) {
  animation-delay: 0.5s;
  width: 10px;
  height: 10px;
  background: rgba(50, 120, 180, 0.15);
}

.circle:nth-child(7) {
  animation-delay: 0.6s;
  width: 10px;
  height: 10px;
  background: rgba(50, 120, 180, 0.15);
}

.circle:nth-child(8) {
  animation-delay: 0.7s;
  width: 10px;
  height: 10px;
  background: rgba(50, 120, 180, 0.15);
}

@keyframes figureEight {
  0%,
  100% {
    transform: translate(0, 0);
  }
  12.5% {
    transform: translate(50px, -25px);
  }
  25% {
    transform: translate(100px, 0);
  }
  37.5% {
    transform: translate(50px, 25px);
  }
  50% {
    transform: translate(0, 0);
  }
  62.5% {
    transform: translate(-50px, -25px);
  }
  75% {
    transform: translate(-100px, 0);
  }
  87.5% {
    transform: translate(-50px, 25px);
  }
}


@media (prefers-color-scheme: dark) {
    body {
        background: var(--dark-background);
    }

    .main-header img {
        fill: white;
        stroke: black;
    }

    .card {
        background-color: var(--dark-card);
        box-shadow: rgba(255, 255, 255, 0.2) 0px 3px 8px;
    }
    .background {
        background: rgb(0,51,102);
        background: linear-gradient(159deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%);
    }
    .pager * {
        background: rgb(30 33 73);
        color: white;
    }

    .card.placeholder .background {
        background: var(--dark-placeholder) !important;
    }

    .card.placeholder .name {
        background: var(--dark-placeholder) !important;
    }

    .card.placeholder .place-color {
        background: var(--dark-placeholder) !important;
    }

    .card:hover {
        box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;
    }
}

@media (max-width: 386px) {
    #search-inpt {
        width: 98%;
    }
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}