@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    color-scheme: light dark;
    --light-background: #ccc;
    --dark-background: #000;
    --light-card: #fff;
    --dark-card: #111;
    --light-placholder: #aaa;
    --dark-placeholder: #333;
}

body {
    width: 100vw;
    background: var(--light-background);
}

* {
    font-family: "Roboto", sans-serif;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-header button {
    background: transparent;
    border: none;
    cursor: pointer;
}

#search-inpt {
    width: 50%;
    height: 30px;
    padding: 10px 15px;
    border-radius: 30px;
    border: solid 1px black;
    font-size: 15px;
    position: relative;
}

.main-header .icon {
    -webkit-mask: url('imgs/search.svg') no-repeat center;
     mask: url('imgs/search.svg') no-repeat center;
     background-color: black;
}

#main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
}

.card {
    width: 200px;
    background-color: var(--light-card);
    height: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-flow: column nowrap;  
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.background {
    width: 95%;
    height: 70px;
    margin-top: 10px;
    position: relative;
    border-radius: 3px;
    background: rgb(0,71,171);
background: linear-gradient(159deg, rgba(0,71,171,1) 0%, rgba(28,169,201,1) 100%);
}

.loading {
    position: relative;
    overflow: hidden;
}

.picture {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    bottom: 10px;
    transform: translate(-50%, 50%);
    left: 50%;
}

.name {
    width: 95%;
    height: 38px;
    text-align: center;
}

.stats {
    width: 95%;
    height: auto;
    margin-bottom: 10px;
}

.stats-item {
    width: 45%;
    height: 30px;
    border-radius: 30px;
    border: solid 1px gray;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.card.placeholder {

}

.card.placeholder .place-color * {
    color: transparent;
}

.card.placeholder .place-color {
    background: var(--light-placholder) !important;
    border: none !important;
    color: transparent;
}

.card.placeholder .background {
    background: var(--light-placholder) !important;
}

.card.placeholder .name {
    color: transparent;
    height: 25px;
    margin-top: 25px;
    width: 80%;
    background: var(--light-placholder);
}

.card.placeholder .loading:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 1.2s linear infinite;
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--dark-background);
    }

    #search-inpt {
        border: solid 1px gray;
    }

    .main-header img {
        fill: white;
        stroke: black;
    }

    .card {
        background-color: var(--dark-card);
        box-shadow: rgba(255, 255, 255, 0.2) 0px 3px 8px;
    }

    .background {
        background: rgb(0,51,102);
background: linear-gradient(159deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%);
    }

    .card.placeholder .background {
        background: var(--dark-placeholder) !important;
    }

    .card.placeholder .name {
        background: var(--dark-placeholder) !important;
    }

    .card.placeholder .place-color {
        background: var(--dark-placeholder) !important;
    }
}

@media (max-width: 386px) {
    #search-inpt {
        width: 98%;
    }
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}