* {
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    min-height: 100vh;
    background: #111111;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.main-div {
    width: 80%;
    padding: 5px 30px;
    background: rgba(255,255,255,0.1);
}