@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Nunito", sans-serif;
}

body {
  background-image: url('imgs/background.jpg');
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
}

.main-title {
  margin-top: 50px;
  font-size: 50px;
  font-weight: 100;
}

/* 🌈 The gradient text link */
.main-title a {
  font-family: "Momo Trust Display", sans-serif;
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 1.2em;

  /* gradient for text */
  background: linear-gradient(36deg, #46007c, #c276ff);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

  /* animation */
  animation: rotateGradient 10s linear infinite;
}

/* ⏳ Animate the gradient angle by shifting background-position */
@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sub-title {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 100;
    position: relative;
}

.sub-title::before {
    content: '';
    position: absolute;
    background: white;
    bottom: -2px;
    height: 2px;
    opacity: 0;
    width: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: subtitle-fade 2s forwards cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes subtitle-fade {
    from {
        width: 0%;

    }
    to {
        width: 110%;
        opacity: 1;
    }
}