:root {
    /* Colors - Dark Mode */
    --background: #0F0F0F;
    --background2: #161616;
    --background3: #1D1D1D;
    --text1: #E0E0E0;
    --text2: #9E9E9E;
    --text3: #7F7F7F;
    --highlight: #FF007F;
    --topbar: #222222;
    --footer: #111111;

    --background-grad: linear-gradient(135deg, #0F0F0F, #161616, #1D1D1D);
    
    /* Neon border and effects */
    --neon-border: 2px solid #FF007F;
    --neon-box-shadow: 0 0 15px #FF007F, 0 0 25px #FF007F, 0 0 35px #FF007F;
  }