:root {
    /* Colors - Light Mode */
    --background: #F5F5F5;
    --background2: #E5E5E5;
    --background3: #D5D5D5;
    --text1: #1C1C1C;
    --text2: #4C4C4C;
    --text3: #6C6C6C;
    --highlight: #00CCCC;
    --topbar: #FFFFFF;
    --footer: #E0E0E0;

    --background-grad: linear-gradient(135deg, #F5F5F5, #E5E5E5, #D5D5D5);
  
    /* Neon border and effects */
    --neon-border: 2px solid #00CCCC;
    --neon-box-shadow: 0 0 10px #00CCCC, 0 0 20px #00CCCC, 0 0 30px #00CCCC;
}
