:root {
    /* Colors - Light Mode with More Blue */
    --background: #D0E7F5;
    --background2: #B0D0E5;
    --background3: #90B8D5;
    --text1: #0D0D0D;
    --text2: #2C2C2C;
    --text3: #4C4C4C;
    --highlight: #0099CC;
    --topbar: #F0F8FF;
    --footer: #B0C4DE;

    --background-grad: linear-gradient(135deg, #7eb9df, #B0D0E5, #90B8D5);
  
    /* Neon border and effects */
    --neon-border: 2px solid #0099CC;
    --neon-box-shadow: 0 0 10px #0099CC, 0 0 20px #0099CC, 0 0 30px #0099CC;
}
