@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
    
    background: url('background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    object-fit: cover;
}

.welcome {
    position: absolute;
    top: 3vh;
    width: 90%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;

    /* From https://css.glass */
    background: rgba(2  00, 200, 200, 0.1);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    color: white;
    font-family: "Ancizar Sans", sans-serif;
    font-size: 1.2em;
}

.welcome h1 {
    margin: 0.6vh 0;
}

.calculator-body {
    width: 40vh;
    height: 56vh;

   /* From https://css.glass */
    background: rgba(2  00, 200, 200, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-flow: column nowrap    ;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: auto;
    padding: 2vh 0;
}

.top input {
    /* From https://css.glass */
    background: rgba(17, 17, 17, 0.99);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    backdrop-filter: blur(18.3px);
    -webkit-backdrop-filter: blur(18.3px);
    border: 1px solid rgba(0, 0, 0, 0);

    width: 90%;
    height: 7vh;

    color: white;

    text-align: center;
    font-size: 2em;
    text-wrap: wrap;

    font-family: "Ancizar Sans", sans-serif;
}

.buttons {
    width: 90%;
    height: 73%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.buttons button {
    height: 8.1vh;
    width: 8.1vh;

    /* From https://css.glass */
    background: rgba(49, 104, 255, 0.87);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(49, 104, 255, 0.4);

    color: white;
    font-size: 1.8em;

    font-family: "Nunito Sans", sans-serif;

    transition: 0.2s;
    cursor: pointer;
    margin: 0.25vh 0.2vw;
}

.buttons button:hover {
    /* From https://css.glass */
    background: rgba(49, 104, 255, 0.87);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.buttons .black-box {
    background: rgba(17, 17, 17, 0.9) !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(18.3px) !important;
    -webkit-backdrop-filter: blur(18.3px) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
}

.buttons .black-box:hover {
    background: rgba(17, 17, 17, 0.87) !important;
    border-radius: 12px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(18.3px) !important;
    -webkit-backdrop-filter: blur(18.3px) !important;
    border: 1px solid rgba(255, 255, 255, 1) !important;
}

#erease {
    background: rgba(255, 0, 0, 0.7) !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(18.3px) !important;
    -webkit-backdrop-filter: blur(18.3px) !important;
    border: 1px solid rgba(255, 255, 255, 0) !important;
    color: black;
}

#erease:hover {
    background: rgba(255, 0, 0, 0.9) !important;
    border-radius: 12px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(18.3px) !important;
    -webkit-backdrop-filter: blur(18.3px) !important;
    border: 1px solid rgba(255, 255, 255, 1) !important;
}

#erease {   
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#erease img {
    width: 50%;
    height: 50%;
}

#equals {
    width: 96.5% !important;
}

@media (prefers-color-scheme: light) {
    .buttons .black-box {
        background: rgba(255, 255, 255, 0.7) !important;
        border-radius: 10px !important;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3) !important;
        backdrop-filter: blur(18.3px) !important;
        -webkit-backdrop-filter: blur(18.3px) !important;
        border: 1px solid rgba(255, 255, 255, 0) !important;
        color: black;
    }
    
    .buttons .black-box:hover {
        background: rgba(255, 255, 255, 0.9) !important;
        border-radius: 12px !important;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5) !important;
        backdrop-filter: blur(18.3px) !important;
        -webkit-backdrop-filter: blur(18.3px) !important;
        border: 1px solid rgba(255, 255, 255, 1) !important;
    }

    .top input {
        /* From https://css.glass */
        background: rgba(243, 243, 243, 0.9);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(18.3px);
        -webkit-backdrop-filter: blur(18.3px);
        border: 1px solid rgba(0, 0, 0, 0);
    
        color: black;
    }
}